/*  цвет заголовков - #212121*/
/* основной цвет текста - #757575*/
/* цвет выделенного текста ссылки - #2196F3*/
/* основной цвет фона белый - #E5E5E5 */
/* вторичный цвет фона серый - #757575 */
/* цвет фона футера и героя черный - #2F303A */
/* цвет альтернат - #2196F3 */

:root {
  --title-text-color: #212121;
  --primary-text-color: #757575;
  --primary-bg-color: #ffffff;
  --secondery-bg-color: #757575;
  --addition-bg-color: #2f303a;
  --alternative-color: #2196f3;
}

body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

.conteiner {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
  /* outline: 2px solid orange; */
}

/* logo */

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}

.header-logo {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-right: 93px;
}

.blue-logo-color {
  color: var(--alternative-color);
}

.black-logo-color {
  color: #000000;
}

.white-logo-color {
  color: #ffffff;
}

/* header  */

.page-header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ececec;
}

/* site nav  */
.site-nav .list {
  display: flex;
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--alternative-color);
}

/*  contacts */

.contacts-list {
  display: flex;
  margin-left: auto;
}

.contacts-list .item:not(:last-child) {
  margin-right: 30px;
}

.contact {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.contact:hover,
.contact:focus {
  color: var(--alternative-color);
}

/* INDEX  */
/* hero  */
.hero {
  padding: 200px 452px;
  text-align: center;

  background-color: #c4c4c4;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/effective_decisions.jpg);
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;

  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
}

.hero-button {
  background-color: var(--alternative-color);
  color: #ffffff;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  text-align: center;
  cursor: pointer;

  display: inline-block;
  min-width: 200px;
  padding: 10px 32px;
  border-radius: 4px;
  border: 0px solid transparent;
}

/* section  */

.section-title {
  margin-top: 0;
  margin-bottom: 50px;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}

.title {
  margin-top: 0;
  margin-bottom: 10px;
}

.text {
  margin: 0;
}

.section-padding {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* advantages  */

.advatages-list {
  display: flex;
  justify-content: space-between;
}

.advatages-list .item:not(:last-child) {
  margin-right: 30px;
}

.advatages-list .title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.advatages-list .text {
  font-size: 14px;
  line-height: 1.7;
}

.advatages-list .item::before {
  content: "";
  display: block;
  height: 120px;
  margin-bottom: 30px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70px 70px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.icon-anthena::before {
  background-image: url(../images/antenna\ 1.svg);
}

.icon-clock::before {
  background-image: url(../images/clock\ 1.svg);
}

.icon-diagram::before {
  background-image: url(../images/diagram\ 1.svg);
}

.icon-astronaut::before {
  background-image: url(../images/astronaut\ 1.svg);
}

/* works */
.works {
  display: flex;
  justify-content: space-between;
}

/* our team  */

.our-team {
  background-color: #f5f4fa;
}

.team-list {
  display: flex;
  justify-content: space-between;
}

.team-list > .item {
  background-color: var(--primary-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list .title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-list .text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 16px;
}

.team-social {
  display: flex;
  justify-content: center;
}

.team-social .item {
  margin-right: 10px;
  margin-bottom: 30px;
}

.team-social .item:last-child {
  margin-right: 0px;
}

.team-social-item {
  color: #afb1b8;
}

.team-social-item:hover,
.team-social-item:focus {
  color: var(--alternative-color);
}

/* partners */
.partners {
  display: flex;
  justify-content: space-between;
}

.partners .item {
  border: 1px solid #afb1b8;
  width: 170px;
  height: 92px;
  padding: 16px 32px;
}

/* futter  */

.info {
  display: flex;
  align-items: center;

  background-color: var(--addition-bg-color);
  font-size: 14px;
  line-height: 1.71;
  color: #ffffff;
}

.adr {
  margin-top: 20px;

  font-style: normal;
}

.footer-contacts {
  color: rgba(255, 255, 255, 0.6);
}

.footer-contacts:hover,
.footer-contacts:focus {
  color: var(--alternative-color);
}

.footer-contacts-margin {
  margin-top: 60px;
  margin-bottom: 60px;
  margin-right: 70px;
}

.connect-title {
  margin-top: 0;
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.our-social {
  display: flex;
}

.our-social .item:not(:last-child) {
  margin-right: 10px;
}

.sm-item {
  display: block;
  color: rgba(255, 255, 255, 0.6);
  margin-right: 10px;
}

.sm-item:last-child {
  margin-right: 0px;
}

.sm-item:before {
  background-color: rgba(255, 255, 255, 0.1);
  display: block;
  content: "";
  width: 44px;
  height: 44px;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
}

.icon-instagram::before {
  background-image: url(../images/instagram.svg);
}

.icon-twitter::before {
  background-image: url(../images/twitter.svg);
}

.icon-facebook::before {
  background-image: url(../images/facebook.svg);
}
.icon-linkedin::before {
  background-image: url(../images/linkedin.svg);
}

.sm-item:hover,
.sm-item:focus {
  background-color: var(--alternative-color);
  border-radius: 50%;
}

/* PORTFOLIO  */
/* projects  */

.our-projects {
  margin: 0px;
  padding: 0px;
}

.filters-item {
  padding: 6px 22px;
  border-radius: 4px;
  border: 1px solid transparent;

  background-color: #f5f4fa;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  cursor: pointer;
}

.filters-item:hover,
.filters-item:focus {
  background-color: var(--alternative-color);
  color: #ffffff;
}

.filters-list {
  margin-bottom: 50px;

  display: flex;
  justify-content: center;
}

.filters-list :not(:last-child) {
  margin-right: 8px;
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
}

.projects-list .item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
  border: 1px solid #eeeeee;
}

.projects-list .item:nth-child(3n) {
  margin-right: 0px;
}

.projects-list .item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.projects-list .item:hover {
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
}

.project-title {
  margin: 20px 24px 4px 24px;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-text {
  margin: 0px 24px 20px 24px;

  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.88;
}
